<nav
  class="navbar navbar-expand-lg bg-body-tertiary fixed-top"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <div class="left-side">
      <img src="../../assets/logo.png" width="60px" alt="calıskan-oto-logo" />
    </div>
    <div class="right-side">
      <div
        class="collapse navbar-collapse navbar-list"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              >Ana Sayfa</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" [href]="'/gallery/'">Galeri</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Hizmetlerimiz
            </a>
            <ul class="dropdown-menu">
              @for (blogItem of blogs; track $index) {
              <li class="list-group-item">
                <a
                  class="dropdown-item"
                  (click)="navigateToBlog(blogItem.id)"
                  >{{ blogItem.title }}</a
                >
              </li>
              }
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
