<div class="intro-container">
  <div style="text-align: center; position: relative;">
    <p class="intro-text">ÇALIŞKAN OTO</p>
    <p class = "intro-subtext">Mekanik Özel Servis</p>
    <button mat-raised-button color="warn" class = "intro-button" >Daha fazlası için aşağıya kaydırınız</button>
  </div>
</div>

<div class="container">
<div class="row justify-content-between intro-info-card">
  <div class="card mx-3 info-card" (click)="makePhoneCall('(0312) 278 45 46')">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-telephone-plus-fill icon" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877zM12.5 1a.5.5 0 0 1 .5.5V3h1.5a.5.5 0 0 1 0 1H13v1.5a.5.5 0 0 1-1 0V4h-1.5a.5.5 0 0 1 0-1H12V1.5a.5.5 0 0 1 .5-.5"/>
    </svg>
      <h5 class="card-title">Bizi Arayın - (0312) 278 45 46</h5>
      <a href="#" class="btn buton-color" color="warn">Bizi aramaktan çekinmeyin</a>
  </div>

  <div class="card mx-3 info-card">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-calendar-event-fill icon" viewBox="0 0 16 16">
      <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5"/>
    </svg>
      <h5 class="card-title">Çalışma Saatlerimiz</h5>
      <a href="#" class="btn buton-color">Pazartesi - Cumartesi 08.00 - 19.00</a>
  </div>

  <div class="card mx-3 info-card">

    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-geo-alt-fill icon " viewBox="0 0 16 16">
      <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
    </svg>
    <h5 class="card-title">Bizi haritada bulun</h5>
    <a href = " https://g.co/kgs/ZYj3eFM " class="btn buton-color"> Yeni Başkent Sanayi Sitesi</a>
  </div>
</div>
</div>
